<!-- https://softuni.bg/trainings/resources/video/62616/video-09-july-2021-ilia-idakiev-angular-july-2021/3473 -->
<!-- 31:08 -->

<div>HEADER</div>
<hr>
<hr><br>
<div id="content">
	<app-user-list [userArray]="users" (addUser)="addNewUserHandler($event)">

	</app-user-list>
	<div *ngIf="!users">Loading ....</div>
</div>

<br>
<hr>
<hr>
<div>FOOTЕR</div>

<!-- <div>{{title}}</div> -->

<!-- <input [value]="title"> -->
<!-- <input #inputElement type="text"> -->

<!-- <button (click)="buttonClickHandler()">Click Here!</button> -->
<!-- <button (click)="changeTitleHandler(inputElement.value)">Click Here!</button> -->

<!-- <ul>
	<app-test></app-test>
	<li *ngFor="let user of users">
		<span>Name: {{user.name}}</span>&nbsp;
		<span>Age: {{user.age}}</span>
	</li>
</ul> -->


<!-- <div *ngIf="showText" [class]="classes">VISIBLE</div> -->

<!-- <button (click)="toggleText($event, 1000, 200)">{{showText ? 'HIDE TEXT' : 'SHOW TEXT'}}</button> -->











<!-- https://softuni.bg/trainings/resources/video/62616/video-09-july-2021-ilia-idakiev-angular-july-2021/3473
- 55:47 
16.03
-->