#reports-collection-report {
	background-color: lightgreen !important;
	#collection-report-grid {
		&-container {
			overflow-x: auto;
			& > table {
				width: 160vw;
				max-width: unset;
				@media screen and (min-width: 1920px) {
					width: 130vw;
				}
				@media screen and (min-width: 2560px) {
					width: 80vw;
				}
				th,
				td {
					vertical-align: middle;
					@include claims-management-guide-table;
					&:nth-child(1) {
						left: 0;
						width: 14% !important;
						@media screen and (min-width: 2560px) {
							width: 17% !important;
						}
					}
					&:nth-child(2) {
						width: 4% !important;
						left: 208px;
						@media screen and (min-width: 1536px) {
							left: 229px !important;
						}
						@media screen and (min-width: 1600px) {
							left: 244px !important;
						}
					}
					&:nth-child(6) {
						min-width: 90px;
					}
					&:nth-child(8) {
						min-width: 130px !important;
					}
					&:nth-child(9) {
						min-width: 190px !important;
					}
					&:nth-child(10) {
						min-width: 190px !important;
					}
				}
			}
		}
		table {
			td,
			th {
				vertical-align: middle;
			}
			th:last-child {
				background-color: $main-green !important;
			}
			tr.kv-expand-detail-row > td {
				padding: 0 !important;
				.skip-export {
					background-color: $gray_container_background !important;
				}
				div.alert {
					margin-bottom: 0;
				}
			}
			#claim-services-grid {
				margin-bottom: -1px;
				padding: 0 !important;
				.summary {
					margin: 0 !important;
				}
				@include inner-table-design;
				table {
					th {
						background: #fafafa !important;
						a {
							margin-left: 0 !important;
						}
					}
					td {
						background-color: $gray_container_background !important;
					}
				}
			}
		}
	}
}
